<!DOCTYPE html>
<html ng-app="LunchCheck">
	<head>
		<meta charset="utf-8">
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<title>Module 1 Coding Assignment</title>
	</head>
	<body>
		<h1>Module 1 Coding Assignment</h1>
		<div ng-controller="LunchCheckController">
			What do you usually eat for lunch? <br>
			<div>
				<input type="text" ng-model="lunch"/>
				<button ng-click="check()">Check If Too Much</button>
			</div><br>
			{{message}}
		</div>
	</body>
</html>